.btnNovo {
    background-color: #4CAF50;
    color: white;
    margin: 10px;
}

.button2 {
    background-color: #008CBA;
    color: white;
    margin: 10px;
}

.button3 {
    background-color: #f44336;
    color: white;
    margin: 10px;
}

.inputFilter{
    width: 75%;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }