.button1 {
    background-color: #4CAF50;
    color: white;
    width: 75px;
    border-radius: 25%;
}

.button2 {
    background-color: #008CBA;
    color: white;
    width: 75px;
    border-radius: 25%;
}

.button3 {
    background-color: #f44336;
    color: white;
    width: 75px;
    border-radius: 25%;
}


table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }