.button1 {
    background-color: #4CAF50;
    color: white;
    width: 75px;
    border-radius: 25%;
}

.alinhament{
    text-align: center
}

::ng-deep .mat-focused .mat-form-field-label {
    color: green !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: green !important;
}

::ng-deep .mat-form-field-underline {
    background-color: green !important;
}


