<div class="alinhament">
  <form class="example-form" (ngSubmit)="doLogin()" [formGroup]="loginForm" novalidate>
    <img src="../../assets/img/Fajuda.png" height="160" width="160">
    <div class="alinhament">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" formControlName="username" type="text" required>
      </mat-form-field>
    </div>
    <div class="alinhament">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Senha" formControlName="password" type="password" required>
      </mat-form-field>
    </div>
    <div class="alinhament">
      <button class="button1" mat-button type="submit" [disabled]="loginForm.invalid"> Entrar </button>
    </div>
  </form>
</div>