<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="../../assets/img/Fajudatext.png" height="20" width="120"> </a>
    <nav *ngIf="showMenu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/local">Local</a></li>
        <li><a routerLink="/tipoatendimento">Tipo Atendimento</a></li>
        <li>
          <button mat-icon-button (click)="logout()">
            <mat-icon aria-label="Sair">logout</mat-icon>
          </button> </li>
      </ul>
    </nav>
  </div>
</header>