<mat-card>
  <mat-card-header>
    <mat-card-title>Novo Local</mat-card-title>
  </mat-card-header>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Descrição" [(ngModel)]="tipoatendimento.dsTipoatendimento" required>
    </mat-form-field>
  </div>
  <div class="row">
    <label>
      Status:
      <mat-checkbox [(ngModel)]="tipoatendimento.stAtivo">Ativo</mat-checkbox>
    </label>
  </div>

  <mat-card-actions>
    <button class="button1" (click)="onSubmit()" mat-button>Salvar</button>

    <button class="button3" (click)="onCancelar()" mat-button>Cancelar</button>
  </mat-card-actions>
</mat-card>