label {
    display: block;
    
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.sizeComponents{
    width: 100%;
}

.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}

.btnSalvar {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.btnCancelar {
    background-color: rgb(245, 4, 4);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
}

.button3 {
    background-color: #f44336;
    color: white;
    width: 75px;
    border-radius: 25%;
}