<h1>Novo Local</h1>

<form [formGroup]="messageForm">

  <label>
    Descrição:
    <input type="text" formControlName="nameLocal">

  </label>

  <label>
    Observação:
    <input type="text" formControlName="observacaoLocal">

  </label>
  
  <label>
    Status:
    <mat-checkbox formControlName="statusLocal">Ativo</mat-checkbox>
  </label>

  <button class="button1"
    (click)="onSubmit()"
    mat-button>Salvar</button>

  <button class="button3" 
    (click)="onCancelar()"
    mat-button>Cancelar</button>
  
</form>
