<h1>Novo Local</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Form Válido</h5>
  <h5 *ngIf="Error">Form Com problema</h5>

  <label>
    Descrição:
    <input type="text" formControlName="nameLocal">

  </label>

  <label>
    Observação:
    <input type="text" formControlName="observacaoLocal">

  </label>
  
  <label>
    Status:
    <mat-checkbox formControlName="statusLocal">Ativo</mat-checkbox>
  </label>


  <input type="submit" value="Cadastrar" class="cta">

</form>
